body{
    background: linear-gradient(130deg,#ff8a00,#e52e71);min-height: 100vh;
}
nav .nav-wrapper{
    width: 90%;
    margin: 0 auto;
}
.form {
    margin-top: 20px;
}
section.form .row{
    min-width: 200px;
    max-width: 380px;
}
.form form{
    padding: 20px !important;
}
.form form .form-header{
    margin:0;padding: 0;
}
#form2{
    display: none;
}
.main-content{
    margin: 50px 0;
}